.container {
    display: flex;
    flex-direction: column;
}

.forms {
    display: inline-flex;
}

.forms * {
    margin-right: 30px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info {
    margin-bottom: 10px;
}